fastapi
uvicorn
python-dotenv
miniopy-async
pydantic-settings
python-multipart
sqlalchemy
asyncpg
python-jose
passlib
beanie
motor
redis[hiredis]
prometheus-fastapi-instrumentator>=6.1.0
prometheus_client>=0.20.0